@import "./mixin";

$text-color: #fffff0;
$btn-color: #7956ff;

//Basic styling of habit-model
.habit-model {
  @include flexbox(center, 100vh);
  align-items: center;
  width: 100%;
  overflow: hidden;

  .bg-model {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .habit-model-box {
    @include flexbox(space-between, 40rem);
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.5);
    backdrop-filter: blur(10px);
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    .habit-model-box * {
      border: none;
      outline: none;
    }
    .add-habit-text {
      color: $text-color;
      font-size: 25px;
    }
    .enter-habit,
    .habit-image-url,
    .repeat,
    .goal,
    .timeOfDay,
    .startDate {
      display: flex;
      flex-direction: column;
    }
  }
}

//Styling of inputs and labels
.habit-model-box {
  .enter-habit,
  .habit-image-url {
    @include flexbox(space-between, 5rem);
    width: 100%;

    label {
      color: $text-color;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    input {
      @include flexbox(center, 3.4rem);
      align-items: center;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      padding: 0px 10px;
      color: $text-color;

      &::placeholder {
        color: $text-color;
      }
    }
  }
  .repeat-goal,
  .timeOfDay-startDate {
    @include flexbox(space-between, 5rem);
    align-items: center;

    label {
      color: $text-color;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: none;
      box-shadow: none;
      background: rgba(255, 255, 255, 0.2);
      color: $text-color;
      height: 3rem;
      width: 14rem;
      padding: 5px 5px;
      display: flex;
      border-radius: 5px;
      flex: 1;
      cursor: pointer;
      box-sizing: border-box;
      select::-ms-expand {
        display: none;
      }
    }
    input {
      @include flexbox(center, 3.4rem);
      align-items: center;
      width: 14rem;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 0px 10px;
      border-radius: 5px;
      outline: none;
      color: $text-color;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
      padding: 0px 5px;
      color: $text-color;
    }
  }
  .add-habit-btn {
    @include flexbox(flex-end, 5rem);
    align-items: center;
    margin: 0px 9px;
    width: 100%;

    button {
      border: none;
      outline: none;
      background: none;
      font-weight: 500;
      font-size: 15px;
      color: $text-color;
      cursor: pointer;
      height: 3.4rem;
      align-items: center;
      padding: 5px 5px;
      margin: 0px 10px;
      width: 7rem;

      &:hover {
        border: 1px solid grey;
        border-radius: 5px;
        background-color: $btn-color;
      }
    }
  }
}

//Tablets Responsive

@media screen and (min-width: 768px) {
  .habit-model {
    display: flex;
    height: 100%;
    width: 80%;
    position: absolute;
    top: 7%;
    left: 10%;
  }
}
